.MainContainerAuth {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/authbg.png");
  /* height: 100vh; */
  background-size: cover;
  background-repeat: no-repeat;
}

.paper {
  /* padding: 2rem; */
  text-align: center;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.logo {
  width: 50px;
  height: auto;
  margin-bottom: 0.5rem;
}

.form-container {
  padding: 2rem;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 34px;
}

@media screen and (min-width: 1600px) {
  .MainContainerAuth {
    height: 100vh;
  }
}
