.MainContainerAuth {
 background-image: url("../../assets/authbg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  width: 100%;
  height: 100vh;
}

.paper {
    /* padding: 2rem; */
    text-align: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.logo {
    width: 50px;
    height: auto;
    margin-bottom: 0.5rem;
}

.form-container {
    padding: 2rem;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;
}

@media screen and (min-width: 1600px) {
    .MainContainerAuth {
        height: 100vh;
    }
}