.slider_header {
  min-height: 400px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider_logo {
  width: 220px;
  cursor: pointer;
}
.slider_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.slider_info {
  padding-inline: 20px;
  text-align: center;
  font-size: 10px;
  line-height: 18px;
}
.stickyElement {
  color: #fff;
  position: sticky !important;
  top: 0;
}
.sideScroll {
  overflow: scroll;
  height: 100vh;
}
.sideScroll::-webkit-scrollbar {
  display: none;
}
.sideScroll {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.name {
  font-size: 35px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}
hr {
  margin-top: 0px;
  margin-bottom: 0px;
  opacity: 0.15;
}
a,
.fpTHfu {
  font-size: small;
}
.activeClass {
  border-left: 4px solid rgba(192, 24, 36, 1);
  color: white;
}
.activeClass:hover {
  background-color: rgba(192, 24, 36, 1) !important;
  color: #fff;
}
.activeClass span {
  color: white;
}
.css-1t8x7v1 > .ps-menu-button:hover {
  background-color: rgba(192, 24, 36, 1) !important;
  color: #fff;
}
