@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  font-family: "Nunito Sans" !important;

}

.scrollbar-thin {
  scrollbar-width: thin !important;
  scrollbar-color: #d1d5db transparent !important;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px !important;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent !important;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #d1d5db !important;
  border-radius: 8px !important;
  border: 3px solid transparent !important;
  background-clip: content-box !important;
}

.nunito-sans {
  font-family: "Nunito Sans", sans-serif !important;
}

.custom-checkbox[type="checkbox"]:checked {
  background-color: #c01824 !important;
  border-color: #c01824 !important;
}

.custom-checkbox2 {
  width: 1rem;
  height: 1rem;
  appearance: none;
  background-color: #fff;
  border: 3px solid #D1D5DB;
  border-radius: 0.25rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.custom-checkbox2:checked {
  background-color: #C01824;
  border-color: #C01824;
}

.custom-checkbox2:checked::before {
  content: '';
  position: absolute;
  left: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.custom-range {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #C01824;
  cursor: pointer;
  border-radius: 50%;
}

.custom-range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #C01824;
  cursor: pointer;
  border-radius: 50%;
}

.form-check-input:checked {
  background-color: #C01824 !important;
  border-color: #C01824 !important;
}

.form-check-input:focus {
  border-color: #C01824 !important;
  box-shadow: 0 0 0 0.25rem rgba(192, 24, 36, 0.25) !important;
}

.custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #ddd;
  border-radius: 4px;
}

.custom-range::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  background: #ddd;
  border-radius: 4px;
}

.custom-range:focus {
  outline: none;
}

.custom-range:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

.w-100{
  width: 100% !important;
}